.auth {
  display: flex;
  flex-direction: column;
}

.auth-user,
.auth-password {
  all: unset;
  border-bottom: 1px solid hsl(0 0 50 / .2);
  border-bottom-color: hsl(from currentColor h s l / .1);
  line-height: 2.5;
  padding-inline: .5em;
  margin-block: .125em;

  &:focus {
    outline: 1px dashed transparent;
    outline-offset: -.25em;
    border-bottom-color: hsl(0 0 50 / .8);
    border-bottom-color: hsl(from currentColor h s l / .5);
  }
  &:autofill {
    border-color: transparent;
    outline-color: currentColor;
  }
  &::placeholder {
    /* make placeholder color mixed with background color for more contrast */
    color: currentColor;
    opacity: .4;
  }
}

.auth-submit {
  all: unset;
  font-size: .75rem;
  line-height: 2rem;
  font-weight: 500;
  font-stretch: normal;
  background-color: light-dark(hsl(0 0 40), hsl(0 0 25));
  color: hsl(0 0 90);
  border-radius: 1rem;
  text-transform: uppercase;
  margin: 1rem 2rem;
  cursor: pointer;
  transition: opacity 200ms ease;
  text-align: center;

  &:disabled {
    cursor: initial;
    opacity: .7;
    background-image: linear-gradient(to right, hsl(0 0 100 / 0) 0%, hsl(0 0 100 / 0.25) 50%, hsl(0 0 100 / 0) 100%);
    background-repeat: no-repeat;
    animation: 2s infinite auth-submit_pending;
  }
  &:focus-visible {
    outline: 1px dashed currentColor;
    outline-offset: -.25rem;
  }
}

@keyframes auth-submit_pending {
  0% { background-position: -20em 0; }
  100% { background-position: 20em 0; }
}

.auth-error {
  white-space: pre-wrap;
  line-height: 1.2;
  color: light-dark(hsl(330 90 38), hsl(330 75 65));
}
