.drafts {
  all: unset;
  display: block;
}

.drafts-item {
  all: unset;
  display: block;
}

.drafts-link {
  display: block;
  padding-inline: 0 1lh; /* delete button placeholder */
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;

  /* marker */
  &::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 1lh;
    height: 1lh;
    background-color: currentcolor;
    opacity: .7;
    mask: url('./marker_draft.svg') center / 1em no-repeat;
  }

  &:empty::after {
    content: '-- empty --';
    opacity: .7;
  }

  &:hover {
    background-color: hsl(0 0 50 / .1);
  }

  .drafts-item[aria-selected='true'] & {
    background-color: hsl(0 0 50 / .25);
  }
}

.drafts-delete {
  all: unset;
  display: block;
  width: 1lh;
  height: 1lh;
  margin-inline: auto 0;
  margin-block: -1lh 0;
  cursor: pointer;
  color: inherit;
  position: relative;
  opacity: 0;
  pointer-events: none;

  .drafts-item[aria-selected='true'] & {
    opacity: initial;
    pointer-events: initial;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: currentcolor;
    mask: url('./delete.svg') center / 1em no-repeat;
    opacity: .5;
    transition: opacity 200ms ease;
  }

  &:hover::before {
    opacity: 1;
  }

  &:focus {
    color: hsl(0 330 70);
    opacity: initial;
  }
}
