.code {
  font-stretch: initial;
}

.code .margin-view-overlays {
  font-weight: 300 !important;
}

.code-error_decoration ~ .line-numbers {
  color: transparent !important;
  &::after {
    content: '\00d7!';
    color: hsl(330 100% 60%);
  }
}
