.code {
  font-stretch: initial;
  /* this background is visible when no draft is selected
    after current draft was deleted */
  background-color: light-dark(#fffffe, #1e1e1e);
}

.code .margin-view-overlays {
  font-weight: 300 !important;
}

.code-error_decoration ~ .line-numbers {
  color: transparent !important;
  &::after {
    content: '\00d7!';
    color: hsl(330 100% 60%);
  }
}
