/* TODO group separator */
.tree-item:has(> [data-type~='column']) + .tree-item:not(:has(> [data-type~='column'])) {
  margin-block-start: .5em;
}

.tree {
  all: unset;
  display: block;
}

.tree-item {
  all: unset;
  display: block;
}

.tree-error {
  display: block;
  padding-inline-start: calc(var(--tree-level) * 1em + 1em);
  padding-inline-end: 1lh; /* toggler placeholder */
  padding-block: .25em;
  line-height: 1.5;
  color: light-dark(hsl(330 90 38), hsl(330 75 65));
}

.tree-link {
  display: block;
  padding-inline-start: calc(var(--tree-level) * 1em);
  padding-inline-end: 1lh; /* toggler placeholder */
  max-height: 1lh; /* hide badge on overflow */
  overflow: hidden;
  word-break: break-all; /* no effect when white-space: no-wrap */
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;

  &:hover {
    background-color: hsl(0 0 50 / .2);
  }
  &[data-selected] {
    background-color: hsl(0 0 50 / .3);
  }

  &[data-type~='index']::before,
  &[data-type~='trigger']::before,
  &[data-type~='constraint']::before {
    content: '... ';
    opacity: .5;
  }
}

.tree-marker {
  float: inline-start;
  width: 1lh;
  height: 1lh;
  background-color: currentcolor;
  mask: url('./marker_file.svg') center / 1em no-repeat; /* TODO fallback marker */
  opacity: .5;

  &[aria-label~='database'] {
    mask-image: url('./marker_database.svg');
  }
  &[aria-label~='schema'] {
    mask-image: url('./marker_schema.svg');
  }
  &[aria-label~='table'] {
    mask-image: url('./marker_table.svg');
  }
  &[aria-label~='table_v'] {
    mask-image: url('./marker_table_v.svg');
  }
  &[aria-label~='table_f'] {
    mask-image: url('./marker_table_v.svg');
  }
  &[aria-label~='column'] {
    mask-image: url('./marker_column.svg');
  }
  &[aria-label~='column_pk'] {
    mask-image: url('./marker_column_pk.svg');
    opacity: .8;
  }
  &[aria-label~='function'] {
    mask-image: url('./marker_function.svg');
  }
  &[aria-label~='aggregate'] {
    mask-image: url('./marker_aggregate.svg');
  }
  &[aria-label~='index'] {
    mask-image: url('./marker_index.svg');
  }
  &[aria-label~='trigger'] {
    mask-image: url('./marker_trigger.svg');
  }
  &[aria-label~='constraint'] {
    mask-image: url('./marker_constraint.svg');
  }
  &[aria-label~='dir'] {
    mask-image: url('./marker_dir.svg');
  }
  &[aria-label~='file'] {
    mask-image: url('./marker_file.svg');
  }
}

.tree-badge {
  float: inline-end;
  margin-block: .25rem;
  font-size: .75rem;
  white-space: nowrap;
  padding-inline: .5rem;
  border-radius: 1em;
  font-weight: 400;
  font-variant-numeric: proportional-nums;
  color: light-dark(hsl(0 0 50), hsl(0 0 60));
  background-color: light-dark(hsl(0 0 98), hsl(0 0 12));
}

.tree-descr {
  font-size: .875rem;
  opacity: .7;
}

.tree-toggler {
  all: unset;
  display: block;
  height: 1lh;
  width: 1lh;
  margin-block: -1lh 0;
  margin-inline: auto 0;
  position: relative;
  cursor: pointer;

  /* triangle */
  &:enabled::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: currentcolor;
    mask: url('./toggler.svg') center / 1em no-repeat;
    opacity: 0; /* TODO inaccessable on touch devices (no hover) */
    transition: opacity 400ms ease 1000ms;
  }
  /* TODO .nav:hover */
  .tree:hover &::before {
    transition: opacity 200ms ease;
    opacity: .3;
  }
  &:hover::before {
    opacity: .7 !important;
  }
  &[aria-expanded='true']::before {
    transform: rotate(.25turn);
  }

  /* spinner */
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
    border: 2px solid hsl(from currentcolor h s l / .3);
    border-top-color: currentColor;
    border-radius: 50%;
    opacity: 0;
  }
  &:disabled::after {
    opacity: .5;
    transition: opacity 200ms cubic-bezier(1, 0, 1, .8); /* prevent blink on fast connection */
    animation: 1000ms cubic-bezier(.7, .35, .7, .35) tree-spin infinite;
  }
}

@keyframes tree-spin {
  from { transform: rotate(0); }
  to { transform: rotate(1turn); }
}
