.out {
  white-space: nowrap;
}

.out-table {
  border-spacing: 0;
  table-layout: fixed;
  width: min-content;
  margin-block-end: 2rem;
}

.out-thead {
  position: sticky;
  top: 0;
  z-index: 1;
  line-height: 2.5;
  background-color: hsl(0 0% 17%);

  .light & {
    background-color: hsl(0 0% 90%);
  }
}

.out-tbody {
  /* fill tbody with stripes. It renders faster then
  styling background on even/odd tr */
  background-image: repeating-linear-gradient(
    to top,
    hsl(0 0% 0% / .1) 0 1lh,
    hsl(0 0% 0% / 0) 1lh 2lh
  );
}

.out-col {
  width: 10em;
  background: linear-gradient(to right, hsl(0 0% 0% / .08), hsl(0 0% 0% / 0) 50%);

  &[data-selected] {
    background: hsl(0 0% 18%);

    .light & {
      background: hsl(0 0% 85%);
    }
  }
}

.out-col_last {
  width: 2rem;
}

.out-colh {
  text-align: inherit;
  font-weight: inherit;
  padding: 0 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative; /* resizer */
  background: linear-gradient(to right, hsl(0 0% 0% / .08), hsl(0 0% 0% / 0) 50%);

  &[data-selected] {
    background-color: hsl(0 0% 25%);
    /* top highlight stripe */
    box-shadow: inset 0 .5rem 0 -.25rem hsl(0 0% 60%);

    .light & {
      background-color: hsl(0 0% 90%);
    }
  }
}

/* .out-colh_key {
  background-color: currentColor;
  display: inline-block;
  width: 1em;
  height: 1em;
  mask: url('./icon_key.svg') center / 1rem no-repeat;
} */

.out-colname {
  font-weight: bold;

  .out-colh[data-key] & {
    text-decoration: underline;
  }
}

.out-coltype {
  font-size: .875rem;
  color: hsl(0 0% 50%);
}

.out-colsizer {
  position: absolute;
  inset: 0 0 0 auto;
  width: .5rem;
  cursor: ew-resize;
}

.out-row {
  /* prevent empty cell collapsion */
  height: 2em; /* TODO 1lh */

  &[data-dirty="delete"] {
    text-decoration: line-through solid 1px;
    background-color: hsl(0 50% 50% / .3);
  }
  &[aria-selected="true"] {
    background-color: hsl(0 0% 100% / .8);
    color: hsl(0 0% 20%);
  }
  .light &[aria-selected="true"] {
    background-color: hsl(0 0% 0% / .8);
    color: hsl(0 0% 95%);
  }
}

.out-cell {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 1rem;
  white-space: pre;

  &[aria-selected="true"] {
    backdrop-filter: contrast(1.5);

    .out[data-datum_focused] & {
      outline: 1px dashed currentColor;
      outline-offset: -4px;
    }
  }
  &:focus-visible {
    outline: 1px dotted currentColor;
    outline-offset: -4px;
  }
  &::before {
    font-size: .75rem;
    color: hsl(0 0% 50%);
  }
  /* TODO move to render_cell_value() */
  &[data-null]::before {
    content: 'NULL';
    font-style: italic;
  }
  &[data-unset]::before {
    content: '\2022\2022\2022';
  }
  &[data-dirty] {
    text-decoration: underline wavy hsl(200 80% 40%) 1px;
    /* background-image: radial-gradient(circle at .625rem center, hsl(200 80% 40%) 0 .125rem, transparent 0); */
    /* background: linear-gradient(135deg, hsl(200 50% 40%) 0 .5rem, transparent 0); */
  }
  & em {
    font-size: .75rem;
    font-style: normal;
    opacity: .5;
  }
}

.out-col_rowh {
  width: 3rem;
  /* background-color: hsl(0 0% 15%); */
}

.out-rowh {
  font-size: .875rem;
  font-weight: inherit;
  font-variant-numeric: proportional-nums;
  padding: 0 .5rem;
  text-align: right;
  color: hsl(0 0% 50%);
}

.out-td_last {
  padding: 0;
}

.out-delete_row,
.out-revert_row {
  all: unset;
  mask-size: 1rem;
  mask-position: center;
  mask-repeat: no-repeat;
  display: none;
  height: 2rem;
  width: 2rem;
  background-color: currentColor;
  opacity: .5;
  transition: opacity 200ms ease;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.out-delete_row {
  display: none;
  mask-image: url('./icon_delete.svg');

  .out-row[aria-selected="true"] &:enabled {
    display: block;
  }
}
.out-revert_row {
  mask-image: url('./icon_revert.svg');
  &:enabled {
    display: block;
  }
}
