/* reset */
.app-run,
.app-abort,
.app-theme_btn,
.app-dump_changes_btn {
  all: unset;
  font-size: .75rem;
  font-weight: 500;
  font-stretch: normal;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.app {
  --app-pane_left_min: 10rem; /* avoid table treenode overflow, keep badgs right-aligned */
  --app-pane_code_min: 17rem; /* fit "run, abort, map" buttons */
  --app-pane_right_min: 8rem;
  --app-header_h: 2.5rem;
  --app-pane_out_min: 4rem;
  --app-pane_datum_min: 4rem;
  --app-pane_map_min: 4rem;

  --app-dynw: calc(100%
    - var(--app-pane_left_min)
    - var(--app-pane_code_min)
    - var(--app-pane_right_min)
  );
  --app-dynh: calc(100%
    - var(--app-header_h)
    - var(--app-pane_out_min)
    - var(--app-pane_datum_min)
    - var(--app-pane_map_min)
  );

  position: absolute;
  inset: 0;
  display: grid;
  overflow: hidden;
  grid:
    'nav_b code_b out'  var(--app-header_h)
    'nav   code   out'  calc(var(--app-pane_out) * var(--app-dynh) + var(--app-pane_out_min))
    'nav   code   datum' minmax(var(--app-pane_datum_min), 1fr)
    'nav   code   map'   calc(var(--app-pane_map) * var(--app-dynh) + var(--app-pane_map_min))
    /
    calc(var(--app-pane_left) * var(--app-dynw) + var(--app-pane_left_min))
    minmax(var(--app-pane_code_min), 1fr)
    calc(var(--app-pane_right) * var(--app-dynw) + var(--app-pane_right_min))
  ;
  color: light-dark(hsl(0 0 20), hsl(0 0 93));
  background-color: light-dark(hsl(0 0 95), hsl(0 0 14));
}

.app-measure {
  width: var(--app-dynw);
  height: var(--app-dynh);
  position: absolute;
  pointer-events: none;
}

.app-auth {
  position: absolute;
  inset: 0;
  z-index: 10;
  width: 20em;
  margin: 10em auto;
}

.app-nav {
  grid-area: nav;
  padding-top: 1rem;
  padding-bottom: calc(100vh - var(--app-header_h) - 1lh);
  overflow: scroll;
  overscroll-behavior: none;
  scrollbar-width: none;
}

.app-drafts:not(:empty) {
  margin-bottom: 1rem;
}

.app-code {
  grid-area: code;
}

.app-out {
  grid-area: out;
  overflow: auto;
  overscroll-behavior: none;
  border-bottom: 1px solid hsl(0 0 50 / .2);
  scroll-padding-top: var(--app-header_h);
}

.app-log {
  margin-block: 0 2rem;
}

.app-datum {
  grid-area: datum;
}

.app-map {
  grid-area: map;
}

.app-code_bar {
  grid-area: code_b;
  display: flex;
  align-items: center;
}

.app-run {
  border-radius: 1rem;
  min-width: 5rem;
  margin-inline: .5rem;
  opacity: 1;
  transition: opacity 200ms ease;
  background-color: light-dark(hsl(0 0 20), hsl(0 0 90));
  color: light-dark(hsl(0 0 95), hsl(0 0 20));

  &:disabled {
    opacity: .5;
    filter: contrast(.5);
  }
  &::before {
    content: attr(aria-label);
  }
}

.app-abort {
  border-radius: 1rem;
  min-width: 5rem;
  background-color: light-dark(hsl(0 0 20), hsl(0 0 90));
  color: light-dark(hsl(0 0 95), hsl(0 0 20));
  opacity: 1;
  transition: opacity 200ms ease 400ms;

  &:disabled {
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease;
  }
  &::before {
    content: attr(aria-label);
  }
}

.app-nav_bar {
  grid-area: nav_b;
  display: flex;
  background-color: hsl(0 0 50 / 0.1);
}

.app-theme_btn {
  width: 2rem;
  position: relative;
  transition: opacity 200ms ease;
  opacity: .5;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: currentColor;
    mask: url('icon_theme.svg') center / 1rem no-repeat;
  }
  &:hover {
    opacity: 1;
    background-color: hsl(0 0 50 / .2);
  }
  &[aria-checked="true"] {
    transform: scaleX(-1);
  }
}

.app-split_left {
  justify-self: start;
  grid-area: 1 / 2 / 5 / 3;
  writing-mode: vertical-lr;
  cursor: ew-resize;
}

.app-split_right {
  justify-self: end;
  grid-area: 1 / 2 / 5 / 3;
  writing-mode: vertical-lr;
  cursor: ew-resize;
}

.app-split_out {
  grid-area: datum;
  align-self: start;
  cursor: ns-resize;
}

.app-split_map {
  grid-area: datum;
  align-self: end;
  cursor: ns-resize;
}

.app-split_left,
.app-split_right,
.app-split_map,
.app-split_out {
  font-size: .375rem;
  block-size: 1em;
  margin-block: -.5em;
  /* monaco scroll slider overlap */
  position: relative;
  z-index: 100;

  &:active {
    background-color: hsl(200 85 40 / 0.45);
  }
}

.app-dump_changes_btn {
  margin-inline: auto 1rem;
  opacity: .7;
}
