.datum {
  font-stretch: initial;

  border: 1px solid transparent;
  &:focus-within {
    border-color: hsl(210 100 60);
  }
}

.datum .monaco-editor {
  --vscode-editor-background: light-dark(hsl(0 0 95), hsl(0 0 14%));
  --vscode-editorGutter-background: var(--vscode-editor-background);
}

.datum-blank {
  width: max-content;
  pointer-events: none;
  font-style: italic !important;
  font-weight: 300 !important;
  opacity: .5;

  .datum[data-null] &::before {
    content: 'NULL';
  }
  .datum[data-unset] &::before {
    content: 'unset';
  }
}
